<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8" />
    <title>Liste des emprûnts</title>

    <link rel="stylesheet" type="text/css"
          href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div layout:fragment="content">
    <div class="container">

        <div class="row">
            <div class="card border-dark spacer-line spacer" style="width: 269px;"
                 th:each="lru:${listeReservationUtilisateur}">
                <img class="card-img-top" th:src="${lru.livre.urlImage}" alt="" width="269" height="435">
                <div class="card-header text-white bg-dark"><h3 class="text-center" th:text="${lru.livre.titre}"></h3>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Date de demande: </strong></li>
                        <li class="list-group-item text-right" th:text="${#dates.format(lru.dateDemandeReservation, 'dd/MM/yyyy')}"></li>
                        <li class="list-group-item"><strong>Etat de la demande: </strong></li>
                        <li class="list-group-item text-right" th:text="${lru.etatReservationEnums}"></li>
                        <li class="list-group-item"><strong>Date de retour la plus proche: </strong></li>
                        <li class="list-group-item text-right" th:text="${lru.etatReservationEnums}"></li>
                        <li class="list-group-item"><strong>Position dans la file d'attente: </strong></li>
                        <li class="list-group-item text-right" th:text="${lru.positionFileAttente}"></li>
                    </ul>
                    <div class="text-center spacer">
                        <button class="btn btn-primary" th:if="${lru.etatReservationEnums == 'ATTENTE'}">
                            <a class="btn btn-primary" th:href="@{/reservation/accepter/{idReservation}(idReservation=${lru.idReservation})}">Accepter</a>
                        </button>
                        <button class="btn btn-primary" th:if="${lru.etatReservationEnums == 'ENCOURS'} OR ${lru.etatReservationEnums == 'ATTENTE'}">
                            <a class="btn btn-primary" th:href="@{/reservation/fermer/{idReservation}(idReservation=${lru.idReservation})}">Annuler</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</body>
</html>