<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8" />
    <title>Liste des emprûnts</title>

    <link rel="stylesheet" type="text/css"
          href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div layout:fragment="content">
    <div class="container">

        <div class="row">
            <div class="card border-dark spacer-line spacer" style="width: 269px;"
                 th:each="lru:${listeReservationUtilisateur}">
                <img class="card-img-top" th:src="${lru.livre.urlImage}" alt="" width="269" height="435">
                <div class="card-header text-white bg-dark"><h3 class="text-center" th:text="${lru.livre.titre}"></h3>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</body>
</html>